/* Navigation bar*/

nav {
    background-color: #a5dade;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-text {
    font-size: 1.5rem;
}

/* Flash messages*/

.flashes h4 {
    line-height: 1;
    background-color: #a5dade;
}

/* Background image*/

body {
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #a5dade;
}

/* Headers and text*/

h1 {
    color: #a5dade;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
}

h2, h4, h5 {
    font-family: "Pacifico", cursive;
    color: gray;
    text-align: center;
}

h3 {
    color: slategray;
    width: 55%;
    background-color: #FFC9B9;
    border-radius: 10px; 
    margin: 0 auto;
    margin-top: 10px;
    padding-bottom: 6px;
}

.text-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: slategray;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    min-height: 100vh;
}

.text-join {
    font-size: 20px;
    background-color: #FFC9B9;
    border-radius: 15px; 
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.text-search {
    width: 65%;
    color: slategray;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background-color: #FFC9B9;
    border-radius: 15px; 
    padding: 5px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-results {
    color: slategray;
    font-size: 25px;
    font-weight: 500;
    width: 60%;
    text-align: center;
    background-color: #FFC9B9;
    border-radius: 15px; 
    margin: 0 auto;
    margin-top: 10px;
}

.text-add {
    color: slategray;
    font-size: 20px;
    font-weight: 500;
    width: 75%;
    text-align: center;
    background-color: #FFC9B9;
    border-radius: 15px; 
    padding: 2px;
    margin: 0 auto;
    margin-top: 10px;
}

/* Buttons*/

.btn-large {
    background-color: #B0D66E;
    border-radius: 15px;
}

.edit-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px;
    background-color: #FFC9B9;
}

.edit-buttons a {
    flex: 1;
    margin: 5px;
}

/* Recipe cards and Modal*/

.card {
    height: 450px;
    max-width: 100%; /* Ensure card width is responsive */
    background-color: #FFC9B9;
    border-radius: 15px;
    overflow: hidden; /* Ensure contents don't overflow */
}

.card-panel {
    background-color: #FFC9B9;
    border-radius: 10px;
}

.card-content {
    padding: 10px;
    font-size: 15px;
    height: 100%; /* Ensure card content stretches vertically */
    display: flex;
    flex-direction: column; /* Arrange card content vertically */
}

.card-detail {
    width: 70vw;
    background-color: #FFC9B9;
    border-radius: 10px;
    margin-top: 10px;;
}

.card-image {
    margin-bottom: 20px;
}

.card-image img {
    width: 100%;
    height: auto;
}

.modal {
    max-width: 90%; /* Adjust modal width for smaller screens */
    background-color: #FFC9B9;
    border-radius: 20px;
}

.modal-content {
    background-color: #FFC9B9;
    border-radius: 20px;
}

.modal .modal-footer {
    background-color: #FFC9B9;
    border-radius: 20px;
}

/* Social Networks*/

.footer {
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-networks {
    text-align: center;
    list-style: none;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 5px;
    padding: 2%;
    color: rgb(185, 184, 184);
}