.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 1;
    background-color: #c0ca33;
}

h1 {
    font-weight: 600;
}

h2 {
    color: white;
    text-align: center;
}

body {
    background-image: url('/static/images/food.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c0ca33;
}

.text-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: white;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: auto;
    color: white;
}

.brand-text {
    font-size: 1.5rem;
}

/* Social Networks*/

.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-networks {
    text-align: center;
    list-style: none;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 5px;
    padding: 2%;
    color: white;
}