{% extends "base.html" %} 
{% block content %}

<!-- Page to allow logged in users to edit their own recipes -->

<div class="text-box">
<h3>Edit your recipe using the form below</h3>
</div>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
        enctype="multipart/form-data">
        <div class="card-panel">
            <!-- recipe url input field-->
            <div class="input-field col s12">
                <i class="far fa-images prefix"></i>
                <input id="recipe_image" name="recipe_image" type="text" validate>
                <label for="recipe_image">Recipe Image URL (optional)
                    <i class="fas fa-question-circle tooltipped" data-position="top"
                        data-tooltip="You can upload your image to a free image hosting website (e.g. ImgBB) and paste direct link here"></i>
                </label>
            </div>
            <!-- Difficulty level input field -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="recipe_difficulty" name="recipe_difficulty">
                        <option value="" disabled>Select Difficulty Level</option>
                        <option value="Easy" {% if recipe.difficulty=='Easy' %} selected {% endif %}>Easy</option>
                        <option value="Medium" {% if recipe.difficulty=='Medium' %} selected {% endif %}>Medium</option>
                        <option value="Difficult" {% if recipe.difficulty=='Difficult' %} selected {% endif %}>Difficult
                        </option>
                    </select>
                    <label>Difficulty Level</label>
                </div>
            </div>
            <!-- recipe name input field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensils prefix"></i>
                    <input id="recipe_name" name="recipe_name" type="text" value="{{ recipe.name }}" validate>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- recipe ingredients input field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-carrot prefix"></i>
                    <textarea id="recipe_ingredients" name="recipe_ingredients"
                        class="textarea">{{ recipe.ingredients }}</textarea>
                    <label class="active" for="recipe_ingredients">Ingredients</label>
                </div>
            </div>
            <!-- recipe method input field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ol prefix"></i>
                    <textarea id="recipe_method" name="recipe_method" class="textarea">{{ recipe.method }}</textarea>
                    <label class="active" for="recipe_method">Method</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <button type="submit" class="col s12 btn-large text-shadow">
                    Submit <i class="fas fa-right-to-bracket"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}