{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align lime darken-1 text-darken-4">
                    {{ user.username }}'s Dashboard
                </h3>
            <div>
                <h4>My Recipes:</h4>
                <ul>
                    {% for recipe in recipes %}
                        <li>{{ recipe.name }}</li>
                        <li>{{ recipe.ingredients }}</li>
                        <li>{{ recipe.method }}</li>
                        <li>{{ recipe.created_by }}</li>
                        <div class="s3">
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small light-blue lighten-1 fas fa-pen-to-square prefix">Edit</a>
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small red accent-4 fas fa-trash prefix">Delete</a>  
                        </div>
                    {% endfor %}
                </ul>
            </div>
            </div>
        </div>
    </div>

{% endblock %}
