{% extends "base.html" %}
{% block content %}

<!-- Profile page to display logged in users details -->
<div class="dashboard">
    <h4>{{ user.username }}'s Dashboard</h4>
        <h5>My Recipes:</h5>
</div>
            
<!-- displays users recipes -->
<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content">
                <a href="{{ url_for('recipe_detail', recipe_id=recipe._id) }}">
                    <span class="card-image">
                        {% if recipe.image %}
                        <img src="{{ recipe.image }}" alt="Recipe Image" class="responsive-img">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/placeholder.jpg') }}"
                            alt="No recipe image available">
                        {% endif %}
                    </span>
                    <span class="card-name">
                        <h5>{{ recipe.name }}</h5>
                    </span>
                    <span class="created-by">
                        <p> Recipe created by: {{ recipe.created_by }}</p>
                    </span>
                    <!-- options to edit/delete own recipe -->
                    <span class="edit-buttons">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                            class="btn-small light-green lighten-1 fas fa-pen-to-square prefix">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                            class="btn-small red accent-4 fas fa-trash prefix">Delete</a>
                    </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
            
    {% endblock %}