{% extends "base.html" %}
{% block content %}

<div class="row">
    {% for result in results %}
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content">
                <span class="card-image">
                    <img src="{{ result.image }}">
                </span>
                <span class="card-name">
                    <h5>{{ result.name }}</h5>
                </span>
                <span class="card-difficulty">
                    <p>{{ result.difficulty }}</p>
                </span>
                <span class="card-ingredients">
                    <h5>Ingredients:</h5>
                    <ul>
                        {% for ingredient in result.ingredients.split(';') %}
                        <li>{{ ingredient.strip() }}</li>
                        {% endfor %}
                    </ul>
                </span>
                <span class="card-method">
                    <h5>Method:</h5>
                    <ul>
                        {% for step in result.method.split(';') %}
                        <li>{{ step.strip() }}</li>
                        {% endfor %}
                    </ul>
                </span>
                <span class="created-by">
                    <p> Recipe created by: {{ result.created_by }}</p>
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}