<!-- recipe_detail_profile.html -->
{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card-detail">
            <div class="card-content">
                <span class="card-image">
                    <img src="{{ recipe.image }}">
                </span>
                <span class="card-name">
                    <h5>{{ recipe.name }}</h5>
                </span>
                <span class="card-difficulty">
                    <p>Level: {{ recipe.difficulty }}</p>
                </span>
                <span class="card-ingredients">
                    <h5>Ingredients:</h5>
                    <ul>
                        {% for ingredient in recipe.ingredients.split(';') %}
                        <li>{{ ingredient.strip() }}</li>
                        {% endfor %}
                    </ul>
                </span>
                <span class="card-method">
                    <h5>Method:</h5>
                    <ul>
                        {% for step in recipe.method.split(';') %}
                        <li>{{ step.strip() }}</li>
                        {% endfor %}
                    </ul>
                </span>
                <span class="created-by">
                    <p> Recipe created by: {{ recipe.created_by }}</p>
                </span>
            </div>
        </div>
    </div>
</div>
<button onclick="history.back()">Back to Profile Page</button>
{% endblock %}
