{% extends "base.html" %} 
{% block content %}

<!-- Search page text and intructions on search terms to use-->

{% if not results %}
<div class="text-search">
    <p>Delve into the Kitchen Cupboard to find a new recipe to try. You can search by name or ingredient.</p>
</div>

    <div class="row">
        <form action="{{ url_for('search') }}" method="POST" class="col s12 m8 offset-m2">
            <div class="card-panel">

                <!-- search -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-magnifying-glass prefix"></i>
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search by keyword</label>
                    </div>
                </div>

                <!-- submit -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large text-shadow">
                        Search <i class="fas fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endif %}

<!-- Search results display -->
{% if results %}
<div class="text-results">
    <p>Search Results for '{{ query }}'</p>
</div>
<div class="row">
    {% for result in results %}
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content">
                <a href="{{ url_for('recipe_detail', recipe_id=result._id) }}">
                <span class="card-image">
                    <img src="{{ result.image }}">
                </span>
                <span class="card-name">
                    <h5>{{ result.name }}</h5>
                </span>
                </a>
                <span class="card-difficulty">
                    <p>Level: {{ result.difficulty }}</p>
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<!-- Redirect to register page if no results found -->
{% if not results %}
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                New Here?
                <a href="{{ url_for('register') }}" class="text-darken-4">Register Account</a>
            </p>
        </div>
    </div>
{% endif %}

{% endblock %}
